LyxFiles/*.pdf
*.xdv
*.bcf
*blx.bib
*.fdb_latexmk
*.fls
*.xml
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.spl
*.synctex.gz
.DS_Store
main.pdf
CoverLetter/*.pdf
